.regestration {
    display: block;
    margin: 12px auto;
    width: 210px;
}
.enquiry {
    display: block;
    margin: 12px auto;
    width: 210px;
}
#tarea
{
   padding: 5px;
   
}
.form-items {
    display: block;
    margin: 22px auto;
}
.form-items1 {
    display: block;
    margin: 22px auto;
}
#h-css {font-size: 1.2rem};
#kalma{
font-size: 1.1rem;
}
#page1::before {
    height: 164%;
}
.btn2{
    display: block;
    margin: 12px auto;
}
.navbar ul li {
   font-size: 13px;
}
.left {
left: 0;
margin: 0 23px ;
}
.navbar ul {
    justify-content: center;
}
@keyframes serch {
    from {
        width: 39px;
    }

    to {
        width: 49px;


    }

}
#src{
    width: 44px;
    height: 17px;
}
h5{
    font-size: 8px;
    width: 70px;
}